body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "DM Serif Display", serif;
}

footer {
  text-align: center;
  font-family: monospace;
  font-size: 12px;
  margin-top: 20px;
}
span.units {
  font-size: 12px;
  position: relative;
  top: -13px;
}
.container {
  text-align: center;
  background: #fbe4b6;
  width: 70%;
  border: 1px solid #fbe4b6;
  border-radius: 10px;
  margin-top: 20px;
  padding: 30px;
}

.current,
.week-forecast-day {
  opacity: 0.8;
}

.current-temp {
  font-size: 30px;
  font-weight: 500;
}

.current.description,
.current.day-time {
  font-size: 14px;
}

.week-forecast-temps {
  font-size: 12px;
}

.week-forecast-temp-min {
  opacity: 0.7;
}

#icon-current {
  margin: 60px 0 20px;
}
